
body  {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.984);
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

div {
  box-sizing : border-box; 
}

.wrapper {
  width:100%;
  height:100%;
}

.header-1 {
  width:100%;
  height:80px;
  background-color: #8e0000;
  display: flex;
  justify-content: space-between;
}

.header-1 span:nth-child(1){
  color:white;
  font-weight:bold;
  font-size:40px;
  line-height: 80px;
  margin-left: 200px;
  cursor:pointer;

}

.header-1 span:nth-child(2){
  color:white;
  font-weight:bold;
  font-size:20px;
  line-height: 100px;
  padding-right:200px;
}



.search-bar {
  width:300px;
  height:30px;
  border:none;
  margin-right:40px;
  padding-left:20px;
}

.search-bar:focus {
  outline:none;
}

.header-2 {
  width:100%;
  height:50px;
  background-color: #c62828;
  line-height: 50px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-right:26px;
}
  
.header-2 span {
  color:white;
  font-weight:bold;
  font-size:20px;
  margin-left:250px;
}

.header-2 i {
  margin-right:10px;
  color: white;
}

.form-box {
  display: inline-block;
}

.write-btn {
  text-align: center;
  height:50px;
  margin-top: 100px;
}

.write-btn button {
  line-height: 40px;
  margin-left: 500px;
  font-weight:800;
  font-size:18px;
  padding-top:1px;
  padding-bottom:1px;
}

.content-list {
  width:100%;
  height:250px;
  display: flex;
  justify-content: center;
}

.list-1 {
  width:30%;
  height:100%;
  display: flex;
  flex-direction: column;
}

.list-1 span {
  line-height: 60px;
}

.list-1 span:nth-child(1) {
  font-size:25px;
  color:#c62828;
  font-weight: bold;
  cursor: pointer;
}

.list-1 span:nth-child(2) {
  font-size:15px;
  text-align: right;
  
}

.list-1 span:nth-child(3) {
  font-size:20px;
  display: inline-block;
}

.list-1 span:nth-child(4){
  font-size:15px;
  margin-top:20px;
  width:80px;
  text-decoration: none;
}

.list-1 hr {
  width:100%;
  border:solid 1px rgb(0, 0, 0);
  border-top-width:0px;
}

.nbsp {
  padding-top:50px;
}

@media (max-width: 800px) {

  .list-1 {
    width:80%;
  }

  .list-1 span:nth-child(2)  {
    text-align: left;
  }

  .write-btn {
    margin-left:-250px;
  }

  .header-1 span:nth-child(1){
    margin-left:40px;
  }

  .header-1 span:nth-child(2){
    margin-left:80px;
    padding-right:30px;
  }

  .header-2 span {
    margin-left:40px;
  }

  .search-bar {
    margin-right:13px;
    width:150px;
  }
}

@media (max-width: 413px) {

  .write-btn {
    margin-left:-350px;
  }
}

