body  {
  margin: 0;
  width: 100%;
  background-color: rgba(245, 244, 244, 0.984);
}

::-webkit-scrollbar {
  display: none;
}

div {
  box-sizing : border-box; 
}

.wrapper {
  width:100%;
  height:100%;
}

.header-1 {
  width:100%;
  height:80px;
  background-color: #8e0000;
  display: flex;
  justify-content: space-between;

}

.header-1 span:nth-child(1) {
  color:white;
  font-weight:bold;
  font-size:40px;
  line-height: 80px;
  margin-left: 200px;
}

.header-1 span:nth-child(2) {
  color:white;
  font-weight:bold;
  font-size:20px;
  line-height: 100px;
  padding-right:200px;
}

.search-bar {
  width:300px;
  height:30px;
  border:none;
  margin-right:40px;
  padding-left:20px;
}

.search-bar:focus {
  outline:none;
}

.header-2 {
  width:100%;
  height:50px;
  background-color: #c62828;
  line-height: 50px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-right:26px;
}
  
.header-2 span {
  color:white;
  font-weight:bold;
  font-size:20px;
  margin-left:200px;
}

.header-2 i {
  margin-right:10px;
  color: white;
}

.form-box {
  display: inline-block;
}

.write-box {
  width:50%;
  height:830px;
  margin:0 auto;
  background-color: white;
  text-align: center;
}

.write-content {
  width:100%;
  display: inline-block;
  margin-top:100px;
}

.input-title {
  width:80%;
  height:68px;
  font-size:30px;
  vertical-align: bottom;
  text-align: center;
  border:none;
}

.input-title:focus {
  outline:none;
}

.write-content hr {
  width:80%;
  margin-left : auto;
  margin-right : auto;
}

.input-content {
  width:80%;
  height:600px;
  font-size:20px;
  vertical-align: bottom;
  text-align: center;
  border:none;
}
.input-content:focus {
  outline:none;
}





@media (max-width: 800px) {

  .list-1 {
    width:80%;
  }

  .list-1 span:nth-child(2)  {
    text-align: left;
  }

  .write-btn {
    margin-left:-250px;
  }

  .header-1 span:nth-child(1){
    margin-left:40px;
  }
  .header-1 span:nth-child(2){
    margin-left:80px;
    padding-right:30px;
  }

  .search-bar {
    margin-right:13px;
    width:150px;
  }

  .header-2 span {
    margin-left:40px;
  }

  .write-box {
    width:100%;
  }
  .input-title {
    width:80%;
    font-size:30px;
  }

}