body  {
  margin: 0;
  width: 100%;
  background-color: rgba(245, 244, 244, 0.984);
  position:relative;
}

::-webkit-scrollbar {
  display: none;
}

div {
  box-sizing : border-box; 
}

.wrapper {
  width:100%;
  height:100%;
}

.header-1 {
  width:100%;
  height:80px;
  background-color: #8e0000;
  display: flex;
  justify-content: space-between;

}

.header-1 span:nth-child(1) {
  color:white;
  font-weight:bold;
  font-size:40px;
  line-height: 80px;
  margin-left: 200px;
  cursor:pointer;
}

.header-1 span:nth-child(2) {
  color:white;
  font-weight:bold;
  font-size:20px;
  line-height: 100px;
  padding-right:200px;
}

.search-bar {
  width:300px;
  height:30px;
  border:none;
  margin-right:40px;
  padding-left:20px;
}

.search-bar:focus {
  outline:none;
}

.header-2 {
  width:100%;
  height:50px;
  background-color: #c62828;
  line-height: 50px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-right:26px;
}
  
.header-2 span {
  color:white;
  font-weight:bold;
  font-size:20px;
  margin-left:250px;
}

.form-box {
  width:100%;
  text-align: center;
}

.input-title {
  width:50%;
  height:100%;
  border:none;
  text-align: center;
}

.input-content {
  width:50%;
  height:300px;
  border:none;
  text-align: center;

}







@media (max-width: 800px) {



  .header-1 span:nth-child(1){
    margin-left:40px;
  }
  .header-1 span:nth-child(2){
    margin-left:80px;
    padding-right:30px;
  }

  .header-2 span {
    margin-left:40px;
  }

}