{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'blog.css'%}">

    <title>Blog</title>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-1">
            <span onclick="location.href='http://127.0.0.1:8000/blog/'">Logo</span>
            <span>Nickname</span>
            </div>
            <div class="header-2">
            <span>Logout</span>
            </div>
        </div>

        <div class="write-btn">
            <button onclick = "location.href = 'http://127.0.0.1:8000/blog/create/' " type="button" class="btn btn-danger">글쓰기</button>
        </div>

        {% for i in post %}
        <div class="content-list">
            <div class="list-1">
                <span>{{i.title}}</span>
                <span>Data / Nickname</span>
                <span onclick="location.href='http://127.0.0.1:8000/blog/detail/{{i.pk}}'">{{i.content}}</span>
                <span onclick="location.href='http://127.0.0.1:8000/blog/detail/{{i.pk}}'" style="color:red; cursor:pointer;">Read more</span>
                <hr>
            </div>
        </div>
        <div class="nbsp"></div>
        {% endfor %}





    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/blog.js" defer></script>
    <script src="https://kit.fontawesome.com/8b18d55f70.js" crossorigin="anonymous"></script>
</body>

</html>